
.layui-layout-body .layui-footer {
    height: 300px;
    /*margin-top: 30px;*/
    font-family: "微软雅黑";

}
.content-bottom {
    height: 245px;
    background-color: #30383D;
    overflow: hidden;
    clear: both;
}
.wl{
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    background: url("../images/customer.png") no-repeat 0 40px;
    overflow: hidden;
    clear: both;
}
.content-bottom  .wl .first,.content-bottom  .wl .big-box,.content-bottom  .wl .big-box2 {
    float: left;
}
.content-bottom  .wl .first {
    width: 300px;
    margin: 40px 0 0 0;
    padding: 0 0 0 60px;
    overflow: hidden;
    clear: both;
}
.content-bottom  .wl .first span {
    display: block;
}
.content-bottom  .wl .first .customer-phone {
    font-size: 20px;
}
.content-bottom  .wl .first .number {
    font-size: 34px;
    margin: 10px 0;
}
.content-bottom  .wl .first .service-time {
    color: #c1c1c1;
}
.content-bottom  .wl .big-box {
    margin-right: 160px;
}
.all-kind-service {
    float: left;
    padding: 40px 30px 0 20px;
}
.all-kind-service span {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin-bottom: 12px;
}
.all-kind-service ul {
    margin-top: 12px;
}
.all-kind-service ul li {
    font-size: 12px;
    margin-top: 12px;
}
.all-kind-service ul li a {
    color:#9CA2A4;
}
.all-kind-service ul li a:hover {
    color: #fff;
}
.we-chat-box {
    padding: 40px 0;
    margin-right: 30px;
    display: inline-block;
}
.we-chat-box img{
    width: 96px;
    height: 96px;
}
.we-chat-box span {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    line-height: 16px;
}
.last-bottom .wl2{
    height: 55px;
    background-color: #282828;
    line-height: 55px;
    text-align: center;
    color: #A6A7AB;
    font-size: 12px;
}
