.modify_pws {
    height:700px;
}
.header_ad {
    height: 240px;
    background: url("../images/customerCenter.jpg");
    margin-bottom: 30px;
    box-shadow: 0 5px 10px rgba(119,136,153,.4);
}
.header_ad h1 {
    font-weight: bold;
    font-size: 40px;
    margin-left: 220px;
    padding-top: 53px;
    letter-spacing: 8px;

}
.header_ad p {
    margin-left: 220px;
    padding-top: 16px;
    color: #666666;
}
.modify_pws_wl {
    height:400px;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 100px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(238, 241, 244);
    box-shadow: 0 5px 10px rgba(51,162,247,.4);
}

.modify_pws_row {
    height: 60px;
    line-height: 60px;
    margin-top: 30px;
}
.modify_pws_row label {
    float: left;
    font-size: 17px;
    color: #000;
    font-weight: 400;
    margin-right: 20px;
    display: block;
    width: 100px;
    text-align: right;
}
.modify_pws_row  #old_pws,.modify_pws_row #new_pws,.modify_pws_row #confirm_new_pws {
    height: 40px;
    width: 400px;
    border: 1px solid #f0f0f0;
    padding-left: 14px;
}
