.transport_fee {
    height:700px;
}
.header_ad {
    height: 240px;
    background: url("../images/customerCenter.jpg");
    margin-bottom: 30px;
    box-shadow: 0 5px 10px rgba(119,136,153,.4);
}
.header_ad h1 {
    font-weight: bold;
    font-size: 40px;
    margin-left: 220px;
    padding-top: 53px;
    letter-spacing: 8px;

}
.header_ad p {
    margin-left: 220px;
    padding-top: 16px;
    color: #666666;
}
.transport_wl {
    height:400px;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 100px;
    box-sizing: border-box;
    border-radius: 5px;
   /* background-color: rgb(238, 241, 244);*/
    box-shadow: 0 5px 10px rgba(51,162,247,.15);
}
.transport_box {
    height: 58px;
    text-align: center;
}
.transport_box label {
    font-size: 16px;
    color: #666666;
    margin-right: 10px;
}
.transport_box input {
    margin-right: 30px;
    height: 30px;
    width: 200px;
    padding-left: 10px;
    border-radius: 3px;
    border:1px solid #e0e0e0;
}
#transport_btn {
    width: 80px;
    height: 35px;
    margin-right: 0;
    text-align: center;
    padding-left: 0;
    color: #ffffff;
    background-color: dodgerblue;
    border: 0;
}
.table-display table thead th{
    height: 35px;
    width: 249px;
    border: 1px solid #e0e0e0;
}
.table-display table tbody td {
    text-align: center;
    border: 1px solid #e0e0e0;
    height: 35px;
}